* {
    padding: 0;
    margin: 0 auto;
}

.container {
    max-width: 1020px;
    position: relative;
}
.portfolio {
    background-color: #2d303a;
}

h2 {
    font-size: 30px;
    color: #666d89;
    letter-spacing: 0.53;
    padding-left: 40px;
    padding-top: 67px;
    padding-bottom: 33px;
    font-family: 'Lato';
    font-weight: 800;
}

.portfolio__info {
    font-size: 18px;
    letter-spacing: 0.54;
    color: #767e9e;
    padding-left: 40px;
    padding-bottom: 20px;
    font-family: 'Lato';
    font-weight: 400;
}

.portfolio__nvigation {
    padding-left: 40px;
    letter-spacing: 0.25;
    font-size: 12px;
    font-weight: 400;
}

.portfolio__nvigation a {
    padding-right: 10px;
    text-decoration: none;
    color: #545a6f;
    border: 1px solid #666d89;
    border-radius: 5px;
}

.portfolio__nvigation span {
    padding-left: 10px;
}

.portfolio__nvigation a:hover {
    color: orange;
}

.portfolio__nvigation a:first-child {
    color: #fff;
}

.portfolio__gallery {
    padding-left: 40px;
    padding-top: 20px;

}

.portfolio__gallery img {
    padding-right: 15px;
    padding-bottom: 20px;
}

.portfolio__bottom {
    position: absolute;
    bottom: 0;
    width: 1020px;
    background-color: #323746;
    height: 10px;
}

.aboutUs {
    background-color: #f2f2f2;
    position: relative;
}

.aboutUs__info {
    font-size: 18px;
    letter-spacing: 0.54;
    color: #767e9e;
    font-family: 'Lato';
    padding-bottom: 50px;
    padding-left: 40px;
}

.aboutus__bottom {
    position: absolute;
    bottom: 0;
    width: 1020px;
    background-color: #fff;
    height: 10px;
}

.photos {
    display: flex;
    padding-left: 40px;
}

.photo__name {
    font-size: 18px;
    color: #666d89;
    letter-spacing: 0.32;
    padding-top: 20px;
    padding-bottom: 18px;
    font-family: 'Lato';
    overflow: hidden;
    font-weight: 800;
}
.photo {
    width: 285px;
}

.photo:nth-child(3) {
    padding-right: 40px;
}

.photo__info {
    font-size: 12px;
    color: #767e9e;
    letter-spacing: 0.25;
    overflow: hidden;
}

.social {
    display: flex;
    margin-top: 30px;
    margin-bottom: 70px;
    margin-left: 0px;
    width: 153px;
    justify-content: space-between;

}

.item-social {
    width: 30px;
    height: 30px;
    border-radius: 16px;
    border: 1px solid #666d89;
    display: flex;
   
}

.item-social:hover {
    cursor: pointer;

}

.icon-facebook {
    background-image: url(assets/img/facebook.png);
    background-position: center;
    background-repeat: no-repeat;
}

.icon-google {
    background-image: url(assets/img/google.png);
    background-position: center;
    background-repeat: no-repeat;
}

.icon-twitter {
    background-image: url(assets/img/twitter.png);
    background-position: center;
    background-repeat: no-repeat;
}

.icon-linkedin {
    background-image: url(assets/img/linkedin.png);
    background-position: center;
    background-repeat: no-repeat;
}